name: Create a Github Release
on:
  push:
    # Pattern matched against refs/tags
    tags:        
      - '*'

jobs:
  extract-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: 'Get Current Tag'
        id: current_tag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"

      - uses: jungwinter/split@v1
        id: split
        with:
          msg: ${{ steps.current_tag.outputs.tag }}
          seperator: v
    outputs:
      tag: ${{ steps.split.outputs._1 }}

  create-windows-release:
    needs: extract-tag
    name: Create Windows Release
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Make
        uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: yarn install
      - run: yarn make
        env:
          CI: false

      - name: Extract release notes
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@v1

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: v${{ needs.publish-tag.outputs.tag }}
          tag_name: v${{ needs.publish-tag.outputs.tag }}
          files: |
            out/make/squirrel.windows/x64/RELEASES
            out/make/squirrel.windows/x64/VirtualPizzeriaAssistant-${{ needs.extract-tag.outputs.tag }}-full.nupkg
          body: ${{ steps.extract-release-notes.outputs.release_notes }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}